body {
    width:100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    max-width: 1440px;
}

nav {
    width: 53%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 399.5px;
    background-color: #eee;
}

.nav--dropdown {
    width: 13.5%;
    padding: 10px 0px;
    margin: 10px;
    border: solid 1px #ddd;
    border-left: transparent;
    border-right: transparent;
    background-color: #eee;
    display: flex;
    flex-direction: column;
}

.dropdown--box {
    display: none;
    position: absolute;
    width: 400px;
    height: 150px;
    border: 1px solid;
    overflow-y: scroll;
    margin-top: 17px;
    background-color: #999999;
    padding: 5px;
}

.nav--dropdown:hover .dropdown--box{
    display: flex;    
    flex-direction: column;
}

.dropdown--element {
    border-radius: 5px;
    padding: 10px;
    margin: 3.5px 2px;
    background-color: white;
}

main {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 26.5%;
    padding-top: 20px;
}

.main--item {
    margin: 3% 5%;
    width: 15%;
    color: #555;
}

.main--item img{
    width: 150%;
}

.item--heart {
    width: 20px;
    height: 20px; 
    position: absolute;
    margin-left: 8.5%;
    margin-top: -2.5%;
    padding: 3px;
    border-radius: 25px;
    background-color: white;
}

.item--heart img{
    background-color: white;
    border: transparent;
    position: absolute;
    z-index: 3;
    width: 50%;
    height: 50%;
    left: 6px;
    top: 8px;  
}

.item--heart img:hover {
    content: url(heart_black.jpg);
}

.item--caption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    margin-top: 10px;
}